src/main/resources/xsd/All_Custom_Reports.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wd="urn:com.workday.report/All_Custom_Reports"
            xmlns:nyw="urn:com.netyourwork/aod" elementFormDefault="qualified" attributeFormDefault="qualified"
            targetNamespace="urn:com.workday.report/All_Custom_Reports">
    <xsd:element name="Report_Data" type="wd:Report_DataType"/>
    <xsd:element name="Execute_Report" type="wd:Execute_ReportType"/>
    <xsd:simpleType name="RichText">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="System_UserReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID_Connect_Internal"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID_Internal"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Chart_TypeReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Chart_Type_Id"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Custom_Report_DefinitionReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Custom_Report_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Report_TypeReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Report_Type_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Security_GroupReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Share_Security_Group_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Tenant_Security_Group_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Workday_Security_Group_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Unique_IdentifierReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="IID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="System_AccountReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="LearningUserName"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="RecruitingUserName"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="StudentUserName"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="SupplierUserName"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_Account_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID_Connect_Internal"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID_Internal"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Report_TagReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Custom_Report_Tag_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Data_SourceReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Computed_View_Data_Source_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="External_Analytics_Data_Source_ID"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="External_Analytics_Data_Source_Name"/>
                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="Internal_Analytics_Data_Source_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Report_ParametersType">
        <xsd:sequence>
            <xsd:element name="Custom_Report" type="wd:Custom_Report_DefinitionObjectType" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="Report_Owner" type="wd:System_UserObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Data_Source" type="wd:Data_SourceObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Report_Tags" type="wd:Report_TagObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Report_Type" type="wd:Report_TypeObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Last_Update_Date_On_or_After" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Last_Update_Date_On_or_Before" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Created_On_or_After" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Created_On_or_Before" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Past_Deletion_Date" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="Is_Temporary" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="System_UserObjectType">
        <xsd:annotation xmlns:wstxns1="urn:com.workday/bsvc" wstxns1:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:System_UserObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Chart_TypeObjectType">
        <xsd:annotation xmlns:wstxns2="urn:com.workday/bsvc" wstxns2:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Chart_TypeObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Custom_Report_DefinitionObjectType">
        <xsd:annotation xmlns:wstxns3="urn:com.workday/bsvc" wstxns3:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Custom_Report_DefinitionObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Report_TypeObjectType">
        <xsd:annotation xmlns:wstxns4="urn:com.workday/bsvc" wstxns4:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Report_TypeObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Security_GroupObjectType">
        <xsd:annotation xmlns:wstxns5="urn:com.workday/bsvc" wstxns5:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Security_GroupObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectType">
        <xsd:annotation xmlns:wstxns6="urn:com.workday/bsvc" wstxns6:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Unique_IdentifierObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="System_AccountObjectType">
        <xsd:annotation xmlns:wstxns7="urn:com.workday/bsvc" wstxns7:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:System_AccountObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Report_TagObjectType">
        <xsd:annotation xmlns:wstxns8="urn:com.workday/bsvc" wstxns8:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Report_TagObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Data_SourceObjectType">
        <xsd:annotation xmlns:wstxns9="urn:com.workday/bsvc" wstxns9:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element name="ID" type="wd:Data_SourceObjectIDType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional'
                    information is for outbound descriptive purposes only and is not processed on inbound Workday Web
                    Services requests.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="System_UserObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:System_UserReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Chart_TypeObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Chart_TypeReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Custom_Report_DefinitionObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Custom_Report_DefinitionReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="parent_id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Contains a unique identifier for an instance of a parent object
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="parent_type">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type of a parent object</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="WID"/>
                                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_ID"/>
                                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc" value="System_User_OpenID"/>
                                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc"
                                                    value="System_User_OpenID_Connect_Internal"/>
                                    <wd:enumeration xmlns:wd="urn:com.workday/bsvc"
                                                    value="System_User_OpenID_Internal"/>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Report_TypeObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Report_TypeReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Security_GroupObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Security_GroupReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Unique_IdentifierReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="System_AccountObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:System_AccountReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Report_TagObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Report_TagReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Data_SourceObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Data_SourceReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a
                            type and a value. A single instance of an object can have multiple "ID" but only a single
                            "ID" per "type".
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Data_Source_DataType">
        <xsd:sequence>
            <xsd:element name="Category" type="wd:Unique_IdentifierObjectType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Report_EntryType">
        <xsd:sequence>
            <xsd:element name="Custom_Report" type="wd:Custom_Report_DefinitionObjectType" minOccurs="0"/>
            <xsd:element name="Report_Type" type="wd:Report_TypeObjectType" minOccurs="0"/>
            <xsd:element name="Data_Source" type="wd:Data_SourceObjectType" minOccurs="0"/>
            <xsd:element name="Data_Source_Data" type="wd:Data_Source_DataType" minOccurs="0"/>
            <xsd:element name="Report_Tags" type="wd:Report_TagObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Report_Owner" type="wd:System_UserObjectType" minOccurs="0"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Created_On" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Last_Updated" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Last_Run_Date" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="Last_Run_By" type="wd:System_AccountObjectType" minOccurs="0"/>
            <xsd:element name="Number_of_Times_Executed_in_Last_6_Months" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Worklet" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="Output_Type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Chart_Type" type="wd:Chart_TypeObjectType" minOccurs="0"/>
            <xsd:element name="Is_Temporary" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="Landing_Page" type="wd:Unique_IdentifierObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Shared" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="Sharing_-_Groups_Explicitly_Specified" type="wd:Security_GroupObjectType" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="Sharing_-_Users_Explicitly_Specified" type="wd:System_UserObjectType" minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Report_DataType">
        <xsd:sequence>
            <xsd:element name="Report_Entry" type="wd:Report_EntryType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Execute_ReportType">
        <xsd:sequence>
            <xsd:element name="Report_Parameters" type="wd:Report_ParametersType" minOccurs="0"/>
            <xsd:element name="Authentication" type="wd:AuthenticationType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MoneyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="Currency_Code" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AuthenticationType">
        <xsd:sequence>
            <xsd:element name="Proxy_User_Name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>